<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fashion Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<div class="container my-2">
    <h1>Fashion Items List</h1>

    <a th:href="@{/showNewItemForm}" class="btn btn-primary btn-sm mb-3"> Add Item </a>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Item Name</th>
            <th>Item Description</th>
            <th>Item Brand</th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${listItems}">
            <td th:text="${item.name}"></td>
            <td th:text="${item.description}"></td>
            <td th:text="${item.brand}"></td>
            <td>
                <a th:href="@{/showFormForUpdate/{id}(id=${item.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/deleteItem/{id}(id=${item.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <hr>

    <h2>Save Item</h2>

    <form action="#" th:action="@{/saveItem}" th:object="${item}" method="POST">

        <input type="hidden" th:field="*{id}" th:if="${item.id != null}" />

        <input type="text" th:field="*{name}"
               placeholder="Item Name" class="form-control mb-4 col-4">

        <input type="text" th:field="*{description}"
               placeholder="Item Description" class="form-control mb-4 col-4">

        <input type="text" th:field="*{brand}"
               placeholder="Item Brand" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Save Item</button>
    </form>

    <hr>
    <a th:href="@{/items-page}"> Back to Items List</a>
</div>

</body>
</html>